anthropic
chromadb
faiss-cpu
fastapi
fastmcp
google-generativeai
langchain
langchain_community
langchain-chroma
langchain-huggingface
langchain-openai
numpy<2
openai
psutil
requests
sentence-transformers
transformers
uvicorn[standard]
