anthropic
chromadb>=1.0.0
faiss-cpu
fastapi
fastmcp
google-generativeai
langchain
langchain_community
langchain-chroma
langchain-huggingface
langchain-openai
mistralai
numpy<2
openai
psutil
requests
sentence-transformers
transformers
uvicorn[standard]
